@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

:root {
  background-color: #000000;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
